<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} PMS {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js"></script>
    <!-- <script src="{% static 'js/vue.global.js' %}"></script> -->
</head>
<body>
    <header>
        <div class="logo">
            <h1>{% block h1 %} PMS {% endblock h1 %}</h1>
        </div>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <!-- Otros enlaces de navegación -->
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 PMS Hostels</p>
    </footer>
</body>
</html>